@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {
    box-sizing: border-box;
    margin: 5%;
    background-color:rgb(210, 222, 230);
    font-family: 'Crimson Text', serif;
    color:#212121;
}

section {
    margin: 5% 2%;
    box-shadow: 10px 10px 5px 2px #0097A7;
    padding: 3%;
    background-color: #00BCD4;
    border-radius: 10px;
}

header {
    text-align: right;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left:auto;
    margin-right: auto;
}

.intro__container{
    margin: 2%;
}

h1, footer {
    color: #0097A7;
}
h2 {
    padding: 0%;
    color:  #CDDC39;
}

footer {
    margin-left: 3%;
}


ul {
    list-style-type: none;
}

.star{
    margin:0;
    padding:0;

}

.checked {
    color: yellow;
}


table {
    text-align: center;
    width: 80%;
}

.experience__item{
    border-radius: 10px;
    background-color: #CDDC39;
    margin: 2% 0%;
    color:#212121;
    padding-left: 2%;
    padding-right: 2%;
}


/* Medium devices (landscape tablets, 768px and up)*/
@media only screen and (min-width: 768px) {

    body {
        background-color:rgb(186, 185, 226);
    }

    .container {
        display: flex;
        justify-content: space-between;  
    }

    .container-big {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .skills {
        flex: 50%;
    }

    .experience {
        flex: 50%;
    } 

    .hobbies{
       min-width: 30%;
    }

} 


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
    body {
        background-color: rgb(210, 222, 230);
    }
    .container {
        display: flex;
        justify-content: space-between; 
    }

    .container-big {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;  
    }

}



