a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

.aLink{
    text-decoration: none !important;
    color: white;  
}

.aLink:hover{
    text-decoration: none !important;
    color: rgb(224, 219, 219);  
}

li {
    list-style: none;
}

.container {
    width: 80%;
    text-align: center;
}

.container-landing {
    display: flex;
}

.container-landing-left {
    
    background-image: url("./images/landing-image.png");
    width: 50%;
    height: 580px;
    background-color: #880e4f;
    text-align: center;
}

.container-landing-left-claim {
    margin-top: 40%;
}

ul {
    list-style: none;
    text-align: center;
}

.landing-claim {
    font-family: "Roboto";
    font-size: 1.1em;
    color: white;
    font-weight: bold;
}

.landing-title {
    font-size: 4em;
}
.container-landing-right {
    margin: auto;
    text-align: center;
}

.login-container {
    margin: 0 auto;
    text-align: center;
    width: 30%;
    margin-top: 8%;
}

.register-container {
    margin: 0 auto;
    text-align: center;
    width: 30%;
    margin-top: 8%;
}

.button-container {
    margin-top: 10%;
}

.error {
    margin: 0 auto;
    text-align: left;
    width: 30%;
    color: #880e4f;
}

@media screen and (max-width: 768px) {
    .container-landing {
        display: block;
        margin: auto;
        margin-top: 27%;
    } 
    .container-landing-left {
        display: none; 
    }
    .landing-title {
        font-size: 3em;
    }
    
}

@media screen and (max-width: 400px) {
    .login-container {
        margin: 0 auto;
        text-align: center;
        width: 80%;
        margin-top: 10%;
    }
    .register-container {
        margin: 0 auto;
        text-align: center;
        width: 80%;
        margin-top: 10%;
    }
}
