.right {
  padding: 1em; }
  .right .right__artists-inf {
    border: 1px solid white;
    margin-top: 2em;
    border-radius: 5px;
    background-color: white;
    color: black; }
    .right .right__artists-inf .right__artists-inf__main-section {
      justify-content: space-between;
      display: flex;
      padding: 1em 3em; }
      .right .right__artists-inf .right__artists-inf__main-section .right__artists-inf__main-section__img-section {
        width: 36%; }
      .right .right__artists-inf .right__artists-inf__main-section .right__artists-inf__main-section__name-section {
        max-width: 60%; }
