.row {
    display: grid;
    margin-right: 0%;
    margin-left: 0%;
    grid-template-columns: 100%;
    background-color: blue;
}

.video-list {
    display: flex;
    margin: 1%;
    width: 90%;
    flex-wrap: wrap;
}

.video-item {
    width: 350px;
    margin: 3%;
}