// MAIN STYLING //
main
    display: flex
    background-image: url('images/noisepattern.png')
    background-repeat: repeat
    padding: 50px 86px

.main__banner
    display: flex
    flex-direction: column
    background-color: white

.card-container
    display: flex
    flex-direction: row
    justify-content: space-between

.article
    margin-left: 5px
    margin-right: 5px
