body {
    background-color: black;
}

.container {
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    justify-content: center;
}

.header {
    background-color: rgb(78, 189, 210);
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
}

.header__login {
    text-align: right;
    padding: 20px 50px;
    border: 1px dotted blue;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    border: 2px dotted red;
    text-align: center;
    padding: 10px 100px;
    justify-content: space-around;
}

.header__main-content {
    display: flex;
    flex-wrap: nowrap;
    border: 1px dotted yellow;
    padding: 10px;
}

.main {
    background-color: grey;
}

.footer {
    background-color: darkgreen;
}

.header__nav__main-nav-bar {
    display: flex;
}

.header__main-content__monkey {

}

.header__main-content__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px dotted blue;
    /* height: 75%; */
}

.header__nav__main-logo {
    
}

.header__nav__sign-up-button {
    border: 1px solid darkgray;
    border-radius: 8px;
}

.header__nav__main-nav-bar {
    display: flex;
    border: 1px solid darkgray;
    border-radius: 8px;
    padding: 1px;
    align-items: center;
}

.nav-button {
    padding: 5px 4px;
}

.nav-search {
   
}

.main-container {
    width: 70%;
    color: white;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.articles__article01 {
    background-color: green;
    order: 1;
}

.articles__article02 {
    background-color: red;
}

.articles__article03 {
    background-color: yellow;

}

.articles__article04 {
    background-color: blue;

}