footer
    .info
        ul
            li
                h5 About Us
            li
                a(href="#")  Jobs
            li
                a(href="#") Customer Stories
            li
                a(href="#") Press Resources
            li
                a(href="#") Press Fund
            li
                a(href="#") Integration Fund

        ul
            li
                h5 Connect With Us
            li
                a(href="#") Integration & Plugins
            li
                a(href="#") MailChimp Api
            li
                a(href="#") MailChimp Labs

        ul
            li
                h5 Contact Us
            li
                a(href="#") Contact MailChimp
            li
                a(href="#") Partner With Us
            li
                a(href="#") Abuse Desk
            li
                a(href="#") MailChimp Status

        ul
            li
                h5 legal Info
            li
                a(href="#") Terms od Use
            li
                a(href="#") Privacy Policy
            li
                a(href="#") Copyright Policy

    .copy
        p 2018-2019 All rights Reserved lorem ipsum dolor set amet skylab coders academy group