header
    img(src="../images/mono.png" alt="mono")
    article
        h1 Easy Email NewsLetter
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda hic beatae repellat vitae cupiditate veritatis aperiam blanditiis, quisquam ipsum aliquid doloremque at quibusdam,
        button Sign Up Free