a.login(href="./images") Log in
nav.menu
    img(src="./images/main_logo.png" alt="logo")
    button Sign Up Free
    ul
        li 
            a(href="#") Pricing
        li 
            a(href="#") Feautures
        li 
            a(href="#") Resources
        li 
            a(href="#") Support
        li 
            a(href="#") Blog
        li
            input(type="text" placeholder="Search")


