section
    h1 What's New
    .news
        article
            img(src="../images/home/templates.jpg"  alt="blog")
            h5 New Feature
            h2 More Templates!
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloribus.
            a(href="#") Learn More

        article
            img(src="../images/home/denim2.jpg"  alt="blog")
            h5 New Feature
            h2 More Templates!
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloribus.
            a(href="#") Learn More

        article
            img(src="../images/home/unfurlr-thumb.jpg"  alt="blog")
            h5 New Feature
            h2 More Templates!
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloribus.
            a(href="#") Learn More

        article
            img(src="../images/home/golden-monkeys.jpg"  alt="blog")
            h5 New Feature
            h2 More Templates!
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam doloribus.
            a(href="#") Learn More
