
section{
    background-color: yellow; 
    width: 150px; 
    height: 150px;
    margin: 10px;
    padding: 10px;
}
textarea{
    margin-bottom: 10px;
}

.container{
    margin: auto;
    text-align: center;
}

.posts-container{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.button{
    background-color: blueviolet;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    border: 0px;
}

.button-delete{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    border: 0px;
    margin-top: 95px;
}

