
/*COLORES SECTION 1*/

$section1-back-color: #3665B8;
$section1-back-boton-play: #508EFE;
$section1-boton-play: #0071DD;
$section1-color-text: #B9B9B9;

/****************************/

/*COLORES SECTION 2*/

$section2-back-color: #41B2BD;
$card-background-color: #F6D055;
$color-text: #F3764A;


/****************************/

/*COLORES SECTION 3*/

$section3-button-int: #FFA700;
$background-color: #00A2D7;


/****************************/