html, body {
  height: 100vh; }

body {
  margin: 0px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

ul {
  margin: 0; }

.wrap {
  margin: 0 auto;
  width: 1100px; }

body {
  background-color: #0E0E0E;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 900; }

header {
  background-color: #45BCD2;
  padding-bottom: 25px; }

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 88%;
  padding: 10px 0px; }

.header__section1_div2_nav--menu__option {
  display: inline-block; }

.header__login {
  color: white; }

.header__section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.header__section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px; }

.header__section2__div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%; }

.header__section2_div1_img {
  padding-left: 100px; }

.header__section2__div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%; }

.header__section1__div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%; }

.header__section1__div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%; }

.header__section1__mainlogo {
  margin-left: 100px; }

.header__section2__div2__parag {
  width: 500px; }

.signup-button {
  background-color: #3F3F37;
  text-align: center;
  line-height: 48px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 7px;
  margin-left: 30px; }

.header__section1__div2_nav--menu {
  padding-left: 0px; }

.header__section1__div2__nav {
  background-color: #D1EEF4;
  border-radius: 7px;
  text-align: center;
  line-height: 48px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 30px; }

.header__section1_div2_nav--menu__option {
  padding: 3px 8px;
  border-right: 1px solid grey; }

.header__section2__button {
  background-color: #E95C41;
  color: white;
  padding: 15px 60px;
  border-radius: 7px;
  text-align: center;
  line-height: 48px; }

main {
  background-image: url("./images/noisepattern.png"); }

.main__container {
  background-color: #F0F0F0;
  padding-top: 10px;
  width: 1000px;
  margin-left: 50px; }

.main__header {
  position: relative;
  margin-top: -50px;
  padding-top: 10px;
  padding-bottom: 25px;
  background-color: #F0F0F0;
  border-radius: 7px 7px 0px 0px; }

.main__header__title {
  margin-left: 50px; }

.main__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 50px; }

.main__news_block {
  margin-left: 30px; }

.main__news__block__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #3F3F37;
  border-radius: 2px;
  width: 100%;
  color: white;
  padding: 5px 5px 5px 20px; }

.main__news__block__arrow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 2px 5px 2px 90px; }

.main__news__block__descrip {
  width: 200px;
  height: 80px; }

footer {
  background-color: #191814;
  padding-top: 25px;
  width: 1100px;
  margin-left: 125px; }

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__links__list {
  color: #7C7B77;
  width: 25%;
  margin-left: 40px; }

.list_title {
  color: white;
  font-style: bold; }

.footer__copyright_descrip {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 350px;
  color: #7C7B77; }

ul {
  list-style-type: none; }
