body {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.header {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 0 20px;
  align-content: center;
  width: 100%;
}
@media only screen and (min-width: 1100px) {
  .header {
    justify-content: flex-start;
  }
}
.header__gamma {
  font-size: 1.8rem;
  color: #50a798;
  line-height: 50px;
  height: 50px;
}

.navigation {
  font-size: 1.8rem;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  position: relative;
}
@media only screen and (min-width: 580px) {
  .top-container {
    align-items: flex-start;
    padding-left: 10px;
  }
}
@media only screen and (min-width: 900px) {
  .top-container {
    align-items: flex-start;
    padding-left: 10px;
    width: 55%;
    margin-left: 5%;
  }
}

.hand-container {
  width: 35%;
}
.hand-image {
  display: none;
}
@media only screen and (min-width: 1400px) {
  .hand-image {
    display: block;
    height: 400px;
  }
}

.top-area {
  padding-top: 50px;
  height: 450px;
  width: 100%;
  background-color: #1c2229;
}
@media only screen and (min-width: 580px) {
  .top-area {
    background-image: url("../gamma/images/site_showcase_bg.jpg");
  }
}
@media only screen and (min-width: 1400px) {
  .top-area {
    background-image: url("../gamma/images/site_showcase_bg.jpg");
    display: flex;
  }
}
.top-area__title {
  color: white;
  font-size: 35px;
}
.top-area__title--green {
  color: #50a798;
}
.top-area__description {
  color: white;
  font-size: 20px;
  text-align: center;
  width: 85%;
}
@media only screen and (min-width: 580px) {
  .top-area__description {
    text-align: left;
  }
}

.img-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
}
@media only screen and (min-width: 580px) {
  .img-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
.img-container img {
  margin-bottom: 20px;
}

.main {
  width: 100%;
}
@media only screen and (min-width: 1400px) {
  .main {
    display: flex;
    flex-direction: row;
  }
}

.product {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product__image {
  width: 95%;
}
.product__title {
  font-size: 35px;
  width: 85%;
  margin-left: 5%;
}
.product__description {
  font-size: 15px;
  width: 85%;
  margin-left: 5%;
  line-height: 1.6;
}
.product__button {
  border: 2px solid #d1cdcd;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
  background-color: white;
  margin-left: 5%;
  align-self: flex-start;
  margin-left: 10%;
}

.features {
  background-color: #50a798;
  padding: 50px;
  margin-top: 50px;
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media only screen and (min-width: 580px) {
  .features {
    display: flex;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1400px) {
  .features {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.features-container__title {
  color: white;
  font-size: 35px;
  line-height: 1.6;
}

.features-list__item {
  color: white;
  line-height: 1.6;
}

.footer {
  position: relative;
  background-color: #1c2229;
  padding: 70px 0;
}
.footer__copyright {
  position: absolute;
  bottom: 20%;
  left: 20%;
  color: white;
}
@media only screen and (min-width: 580px) {
  .footer__copyright {
    left: 50%;
  }
}
@media only screen and (min-width: 900px) {
  .footer__copyright {
    left: 70%;
  }
}

.footer-nav__list {
  position: absolute;
  top: 30%;
  left: 20%;
}
@media only screen and (min-width: 580px) {
  .footer-nav__list {
    left: 5%;
  }
}
.footer-nav__items {
  text-decoration: none;
  color: white;
}

.main-about {
  margin: 5% 5%;
}
@media only screen and (min-width: 1100px) {
  .main-about {
    display: flex;
  }
}

.about-container {
  margin-right: 30px;
}
@media only screen and (min-width: 1400px) {
  .about-container {
    flex: 0 0 60%;
  }
}

@media only screen and (min-width: 1400px) {
  .main-about > .product-contact {
    flex: 1;
  }
}

.togglebox {
  margin-top: 60px;
  width: 100%;
  background: #fff;
  transform: translateZ(0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

input[type=radio] {
  position: absolute;
  opacity: 0;
}

.togglebox > label {
  position: relative;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 700;
  border-top: 1px solid #ddd;
  background: #f3f3f3;
  cursor: pointer;
}

label[for*="1"] {
  border: 0;
}

label:after {
  top: 0px;
  right: 20px;
  font-family: fontawesome;
  transform: rotate(90deg);
  transition: 0.3s transform;
}

.accordion-section {
  height: 0;
  transition: 0.3s all;
  overflow: hidden;
}

#toggle1:checked ~ label[for*="1"]:after,
#toggle2:checked ~ label[for*="2"]:after,
#toggle3:checked ~ label[for*="3"]:after,
#toggle4:checked ~ label[for*="4"]:after {
  transform: rotate(0deg);
}

#toggle1:checked ~ #content1,
#toggle2:checked ~ #content2,
#toggle3:checked ~ #content3,
#toggle4:checked ~ #content4 {
  height: 100px;
}

p {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 12px;
  line-height: 1.5;
}

.title {
  padding: 20px;
  background-color: #1aa08d;
}
.title__contactus {
  font-size: 30px;
  color: white;
}

.main-form {
  padding: 10px;
}
@media only screen and (min-width: 900px) {
  .main-form {
    padding: 10px 10%;
  }
}
@media only screen and (min-width: 1400px) {
  .main-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 500px;
  }
}

#product-box-container {
  width: 40%;
}

#product-box {
  height: 250px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
}
@media only screen and (min-width: 1400px) {
  .contact-form {
    width: 70%;
  }
}
.contact-form__label {
  font-weight: bold;
  margin-bottom: 5px;
}
.contact-form__input {
  border: 1px solid #ddd8d8;
  flex: 0 0 100%;
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  height: 30px;
}
.contact-form__button {
  border: 1px solid #ddd8d8;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
}

.nav {
  border-bottom: 1px solid #EAEAEB;
  text-align: right;
  height: 50px;
  line-height: 50px;
}
.nav label {
  font-size: 26px;
  line-height: 50px;
  display: none;
}
.nav #toggle {
  display: none;
}

.menu {
  z-index: 100;
  position: relative;
}
.menu a {
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 50px;
}

@media only screen and (max-width: 480px) {
  .nav label {
    display: block;
    cursor: pointer;
    background-color: #f8f8f8;
    border: none;
    height: 50px;
  }

  .menu {
    text-align: center;
    width: 300px;
    display: none;
    background-color: black;
  }
  .menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
    color: white;
  }

  #toggle:checked + .menu {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
