.bg-app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    position: absolute;
}

.bg-albumCover {
    left: auto;
    widows: 80vw;
    height: 100vh;
    background: url();

}