.bg-app {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-albumCover {
    position: absolute;
    background-color: blue;
    left: auto;
    width: 80vw;
    height: 100vh;
    background: url();

}