.collapsable{
    border: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 1em;
    border-radius: 3px;
    overflow: hidden;
    & .collapsable__title{
        background-color: #f5f5f5;
        padding: 0.5em 1em;
        border-bottom: 1px solid rgba(0,0,0,0.1);
        
    }
    & .collapsable__desc{
        padding: 1.5em 1em;
        font-size: 0.9em;
        text-align: justify;
        transition: height 0.2s linear, padding 0.2s linear;
       
    }
}

.collapsable-up{
     height: 0px !important;
     padding: 0 !important;
}



@media screen and (min-device-width: 1400px){
    .collapsable{
        &:last-child{
            margin-bottom: 0;
        }
    }
}