.panel-inf{
    border: 1px solid white;
    margin-top: 2em;
    border-radius: 5px;
    background-color: white;
    color: black;
   
    & .panel-inf__main-section{
        justify-content: space-between;
        display: flex;
        padding: 1em 3em;
        & .panel-inf__main-section__img-section{
            width: 24%;
        }
        & .panel-inf__main-section__name-section{
            max-width: 60%;
           
        }
    }
}