body{
    
    margin: 0;
}

/*LANGING*/

.landing {
    display: grid;
    grid-template-columns: auto auto auto;
    background: #fff url(https://www.sefservicemap.com/wp-content/uploads/2017/06/Vector_-Social-Network-background-of-the-icons-vector-4-.jpg) repeat 0 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}


.landing__page{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
}
  
.group {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: #FAFAFA;
    border-radius: 5px;
    width: 250px;
    height: 350px;
    
  }

.landing__register-button, .landing__register-button--login {
    position: relative;
    color: black;
    background-color: #7cEA9C;
    border-radius: 15px;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    border: 1px solid gray;
    outline: 0;
    cursor: pointer;
  }
  .landing__register-button::before, .landing__register-button--login::before {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2) 50%, transparent 50%);
    content: "";
    height: 100%;
    width: 100%;
  }
  .landing__register-button--login {
    background-color: #7cEA9C;
  }
  .landing__or {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 40px;
  }

  /* register + login form */
  input[type=text], input[type=password] {
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }


  /* Register */
  .group__register {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #FAFAFA;
    border-radius: 5px;
    width: 250px;
    height: 450px; 
  }

  
  /* login */
  
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    max-width: 450px;
    height: 100vh;
    grid-column-start: 2;
  }

  .group__login {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #FAFAFA;
    border-radius: 5px;
    width: 250px;
    height: 350px; 
  }

  .login__center {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    background-color: #FAFAFA;
    border-radius: 5px;
  }

  .group__center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .login__submit {
    background-color: #7cEA9C;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  .login__back {
    text-decoration: none;
    cursor: pointer;
  }

  .login__header{
    width: 60%;
  }

  .login__back{
      text-decoration: none;
      cursor: pointer;
      margin-top: 10px;
      color: black;
      font-size: 14px;
  }

/*------------------------------------------------------*/
/*HOME*/

.div-home {
    display: flex;
    flex-direction: column;
}

.home__post{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    background-color: #FAFAFA;
}

.post {
    display: flex;
    align-content: center;
    justify-content:center;
}

.post__center{
    display: flex;
    align-content: center;
    justify-content:center;
    flex-direction: column;
    width: 100%;
    border: 1px solid #afafaf;
}

.post__justify{
    display: flex;
    align-content: center;
    justify-content:center;
    background-color: white;
    margin: 10px;
}

.post__left{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:center;
    width: 50%;
    min-width: 300px;
}

.post__img{
    width: 400px;
    max-width: 100%; 
    max-height: 400px; 
    border-top: 1px solid #afafaf;
    border-bottom: 1px solid #afafaf;
}

.post__text{
    width: 400px;
    max-width: 100%; 
    max-height: 400px; 
}

.post__text-margin{
    margin-top: 5px; 
}

.icon{
    margin:10px;
    cursor: pointer;
}

.post__icon{
    width: 400px;
    max-width: 100%; 
    max-height: 400px;
}

/*PROFILE*/
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.profile__center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__img{
    margin-right: 30px;
}

.profile__img-small{
    width: 200px;
    max-width: 100%; 
    max-height: 200px;
}

.profile__info{
    display: flex;
    flex-direction: column;
}

.info__stadistics{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stadistics{
    margin-right: 5px;
}

.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid #afafaf;
}

.gallery__user{
    min-width: 0;
    margin: 5px;
    position: relative;
}

.user__img{
    height: 250px;
    max-width: 100%; 
    max-height: 250px;
}

.user__img:hover{
    opacity:0.5;
}

.user__likes{
    display: none;
    position: absolute;
    top:40%;
    left:40%;
}

.user__img:hover + .user__likes {
    display: block;  
}


/* ERROR */
.error {
    color: red;
}


/* UPLOAD POST */
.upload{
    display: flex;
    justify-content: center;
}
    
.upload__img{
    height: 250px;
    max-width: 100%; 
    max-height: 250px;
}


/* MENU */
.nav {
    display: flex;
    justify-content: space-between;
    background-color: #0075A2;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
}

.menu{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.menu__button{
    font-size: 2.5em;
    cursor: pointer;
}

.menu__button:hover{
    color: #55D6BE;
}
