*{
    box-sizing: border-box;
}
html{
    min-height: 100vh;
    min-width: 100vw;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
}

h2{
    text-align: center;
}

table tr:not(:first-child) td{
    text-align: justify;
}

section:not(.header-personal-img){

    margin-bottom: 20px;
    padding: 0 10px;
    box-shadow: 13px 9px 26px -5px rgba(0,0,0,0.73);
    background-color: #fffacd;
}

.header-personal-img {
    width: 100px;
    height: 100px;
   
}
.header-personal-img img{
    width: 100%;
    height: auto;
   
}

.row-title{
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.row-title:not(:first-child){
    margin-top:10px;
    text-align: left;
}
.row-title:not(:first-child) td{
    text-align: left;
}

.header
{
    background-color: #4389d5;
    height: 108px;
    display: flex;
    padding: 4px;
    justify-content: space-between;
    color:white;
    
}

.header .header-title{

    margin-top: 41px;
    vertical-align: center;
    flex-grow: 1;
    text-align: center;
}

.header .header-title h2{
    
    margin: 0;
    font-size: 1.5em;
    
}

.main{

    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.main section{

    width:100%;
}
.personal-inf{
    padding-bottom: 20px;
}
.main .personal-inf table
{

    margin: 0 auto;
}

.p-skills p{
    text-align: justify;
}
.p-skills table{
    margin:0 auto;
}

.related-skills ul{
    list-style-type:disc;
}

@media screen and (min-device-width: 1024px){
    section:not(.header-personal-img){
        padding: 0 21px;
    }
    .main .personal-inf{
        width: 100%;
    }
    .main section{
        width: 30%;
    }
    .main{
        justify-content: space-around;
        margin-top: 20px;
        font-size: 1.2em;
    }

    .header{
        height: 208px;
    }
    .header .header-title{
        font-size: 4em;
    }
    .header-personal-img{
        height: 200px;
        width: 200px;
    }
   
    .related-skills{
        position: absolute;
        z-index: 1000;
        top: 326px;
        background:  #da8921;
        height: 79px;
        left: 46px;
        overflow: hidden;
        transition: height 0.5s linear;
    }
    .related-skills:hover{
        height: 480px;
    }
}
