.post {
    background-color: yellow;
    width: 100px;
    height: 100px;
    margin: 10px;
}

.post textarea {
    background: transparent;
    border: none;
    width: inherit;
    height: inherit;
    resize: none;
}

.fa-sticky-note {
    color: gold;
}

.error {
    color: red;
}

.div-home {
    border: solid 1px black;
}

.image {
    width: 150px;
    height: 150px;

}

