html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  margin: 0; }

#root, #root > div:first-child {
  width: 100%;
  height: 100%; }

img {
  width: 100%;
  height: auto; }

* {
  box-sizing: border-box; }

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 2em;
  overflow-y: scroll;
  height: 302px; }
  .list li {
    display: block;
    padding: 1em 0;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3); }
    .list li:last-child {
      border-bottom: 0; }
    .list li a {
      color: white;
      display: block;
      text-decoration: none; }

.container {
  width: 600px;
  height: 600px;
  margin: 50px auto;
  position: relative;
  perspective: 1161px;
  margin-top: 10em;
  color: white;
  background-color: black; }

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s; }

.active {
  background: black !important;
  opacity: 0.8; }

#cube > section {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 2px solid black; }

#cube .back {
  background: rgba(0, 0, 0, 0.9);
  transform: rotateX(0deg) translateZ(-300px); }

#cube .left {
  background: rgba(0, 0, 0, 0.9);
  transform: rotateY(90deg) translateZ(-300px); }

#cube .bottom {
  background: rgba(0, 0, 0, 0.9);
  transform: rotateX(90deg) translateZ(-300px); }

#cube .front {
  background: rgba(0, 0, 0, 0.9);
  transform: rotateX(0deg) translateZ(300px); }

#cube .right {
  background: rgba(0, 0, 0, 0.9);
  transform: rotateY(90deg) translateZ(300px); }

#cube .top {
  background: rgba(0, 0, 0, 0.9);
  transform: rotateX(90deg) translateZ(300px); }

.container {
  width: 600px;
  height: 600px;
  margin: 50px auto;
  position: relative;
  perspective: 1161px;
  margin-top: 10em;
  color: white;
  background-color: black; }

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s; }

.active {
  background: black !important;
  opacity: 0.8; }

#cube > section {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 2px solid black; }

#cube .back {
  background: rgba(0, 0, 0, 0.9);
  transform: rotateX(0deg) translateZ(-300px); }

#cube .left {
  background: rgba(0, 0, 0, 0.9);
  transform: rotateY(90deg) translateZ(-300px); }

#cube .bottom {
  background: rgba(0, 0, 0, 0.9);
  transform: rotateX(90deg) translateZ(-300px); }

#cube .front {
  background: rgba(0, 0, 0, 0.9);
  transform: rotateX(0deg) translateZ(300px); }

#cube .right {
  background: rgba(0, 0, 0, 0.9);
  transform: rotateY(90deg) translateZ(300px); }

#cube .top {
  background: rgba(0, 0, 0, 0.9);
  transform: rotateX(90deg) translateZ(300px); }

.back {
  padding: 1em; }
  .back .header {
    transform: rotateY(180deg); }
  .back .back__albums-inf {
    border: 1px solid white;
    margin-top: 2em;
    border-radius: 5px;
    background-color: white;
    color: black;
    transform: rotateY(180deg); }
    .back .back__albums-inf .back__albums-inf__main-section {
      justify-content: space-between;
      display: flex;
      padding: 1em 3em; }
      .back .back__albums-inf .back__albums-inf__main-section .back__albums-inf__main-section__img-section {
        width: 36%; }
      .back .back__albums-inf .back__albums-inf__main-section .back__albums-inf__main-section__name-section {
        max-width: 60%; }
  .back .back__albums-list .list {
    transform: rotateY(180deg); }

.front {
  padding: 1em; }
  .front .front__search-form {
    margin-top: 8em;
    padding: 1em;
    border: 1px solid white;
    border-radius: 5px; }
    .front .front__search-form label {
      color: white; }
    .front .front__search-form input[type="text"]:focus {
      border-color: green; }
    .front .front__search-form button {
      background: white;
      color: green;
      border-color: green; }
      .front .front__search-form button:hover {
        background-color: green;
        color: white; }

.left {
  padding: 1em;
  overflow: hidden; }
  .left .header {
    transform: rotateY(-180deg);
    position: relative; }
    .left .header .header__audio {
      display: block;
      position: absolute;
      top: 13px;
      right: 21px; }
  .left .left__albums-inf {
    border: 1px solid white;
    margin-top: 2em;
    border-radius: 5px;
    background-color: white;
    color: black;
    transform: rotateY(-180deg); }
    .left .left__albums-inf .left__albums-inf__main-section {
      justify-content: space-between;
      display: flex;
      padding: 1em 3em; }
      .left .left__albums-inf .left__albums-inf__main-section .left__albums-inf__main-section__img-section {
        width: 36%; }
      .left .left__albums-inf .left__albums-inf__main-section .left__albums-inf__main-section__name-section {
        max-width: 60%; }
  .left .left__albums-list .list {
    transform: rotateY(180deg); }

.right {
  padding: 1em; }
  .right .right__artists-inf {
    border: 1px solid white;
    margin-top: 2em;
    border-radius: 5px;
    background-color: white;
    color: black; }
    .right .right__artists-inf .right__artists-inf__main-section {
      justify-content: space-between;
      display: flex;
      padding: 1em 3em; }
      .right .right__artists-inf .right__artists-inf__main-section .right__artists-inf__main-section__img-section {
        width: 36%; }
      .right .right__artists-inf .right__artists-inf__main-section .right__artists-inf__main-section__name-section {
        max-width: 60%; }

.landing--parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%; }

.landing--bg-img {
  position: absolute;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../img/concert.jpg");
  filter: grayscale(65%) blur(7px);
  z-index: -1; }

.landing--content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }

.title--landing {
  font: bold 120px sans-serif;
  color: #2f84e6; }

.btn-primary {
  font-size: 25px;
  padding: 15px;
  width: 170px;
  right: 0; }

.little--cube {
  -webkit-transform-style: preserve-3d;
  -webkit-animation: spin 3s infinite linear;
  position: relative;
  width: 100px;
  height: 100px;
  left: 23px;
  margin-left: -50px;
  margin-top: -50px; }
  .little--cube div {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    box-shadow: inset 0px 0px 0px 3px #d6e5ff;
    background: #2f84e6;
    display: block;
    position: absolute; }

.little--top {
  -webkit-transform: rotateX(90deg);
  margin-top: -50px; }

.little--right {
  -webkit-transform: rotateY(90deg);
  margin-left: 50px; }

.little--bottom {
  -webkit-transform: rotateX(-90deg);
  margin-top: 50px; }

.little--left {
  -webkit-transform: rotateY(-90deg);
  margin-left: -50px; }

.little--front {
  -webkit-transform: translateZ(50px); }

.little--back {
  -webkit-transform: translateZ(-50px) rotateX(180deg); }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateX(-20deg) rotateY(20deg); }
  100% {
    -webkit-transform: rotateX(-20deg) rotateY(740deg); } }
