/*GENERAL COLORS*/
$body__background-color: #0e0e0e;
$green: #1caa98;

/*HEADER COLOR*/
$nav__background-color: #d1eef4;
$header__background-color: #1b222a;
$nav__background-color: #f8f8f8;
$color__border-bottom: #7d7d7f;
$background__color__menu__lateral: #e7e7e7;

/*MAIN COLORS*/
$main__background-color: #ccd0cf;

/*FOOTER COLOR*/
$footer__background-color: #333333;

