.footer{
    & .footer__features{
        padding: 3em 4em;
        background-color: $green;
        & .footer__features__section{
            & .footer__features__section__title{
                font-weight: bold;
                color:white;
                font-size: 2.2em;
                margin-bottom: 0.5em;
            }
            & .footer__features__section__options{
                & li{
                    color: white;
                    padding-bottom: 0.8em;
                    font-weight: bold;
                    font-size: 1.3em;
                }
            }
           
        }
        & .footer__features__logo{
            width: 80%;
        }
       
    }
    & .footer__nav{
        background-color: #333333;
    }
}

@media screen and (min-device-width: 580px){

    .footer{
        & .footer__features{
            & .footer__features__logo{
                width: 60%;
            }
        }
    }
}

@media screen and (min-device-width: 900px){

    .footer{
        & .footer__features{
            & .footer__features__logo{
                width: 35%;
            }
        }
    }
}

@media screen and (min-device-width: 1400px){

    .footer{
        & .footer__features{
           display: flex;
           justify-content: space-around;
           & .footer__features__logo{
            width: 20%;
        }
        }
    }
}