.main{
    & .main__section-logos{

        padding: 3em 2.3em;
        & .main__section-logos__div1{
            
            
            & .main__section-logos__div1__title{
                text-align: center;
                color:white;
                margin: 0;
                font-size: 2em;
                margin-bottom: 1em;
                & span{
                    color:$green;
                }
            }
            & .main__section-logos__div1__desc{
                color: white;
                font-size: 1.3em;
                text-align: center;
            }
            & .main__section-logos__div1__images{
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;
                margin-top: 1.3em;
                & .main__section-logos__div1__images__image:first-of-type
                {
                    width: 250px;
                    height: 74px;
                }
                & .main__section-logos__div1__images__image:last-of-type
                {
                    width: 250px;
                    height: 88px;
                    margin-top: 2em;
                }
            }
        }
        & .main__section-logos__div2{
            display: none;
        }
    }
    & .main__articles{
        padding: 3.5em 1em;
        background-color: white;
        
        & .main__articles__article{
            margin-bottom: 1.5em;
            &:last-child{
                margin-bottom: 0;
                & .main__articles__article__logo{
                    padding: 1em 0.5em;
                }
            }
            & .main__articles__article__logo{
                border:1px solid rgba(0,0,0,0.3);
                padding-top: 1em;
               
            }
            & .main__articles__article__title{
                margin: 0.5em 0;
                font-size: 2em;
                font-weight: BOLD;
            }
            & .main__articles__article__desc{
                text-align: justify;
                margin-bottom: 1em;
                font-size: 0.9em;
            }
            & .main__articles__article__read-more{
                text-decoration: none;
                display: inline-block;
                padding: 0.5em 0.5em;
                color: black;
                border-radius: 4px;
                border: 1px solid black;
                font-size: 0.9em;
            }
            
        }
    }
}


@media screen and (min-device-width: 580px){

    .main{

        & .main__section-logos{
            padding: 3em 1em;
            background-image: url('./img/site_showcase_bg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            padding-bottom: 1.7em;
            & .main__section-logos__div1{
                
                & .main__section-logos__div1__desc{
                    text-align: left;
                }
                & .main__section-logos__div1__title{
                    text-align: left;
                }
                & .main__section-logos__div1__images{

                    flex-direction: row;
                    margin-top:1em;
                    & .main__section-logos__div1__images__image:last-of-type
                    {
                       margin-top: 0;
                    }
                }
            }
        }
    }
}

@media screen and (min-device-width: 900px){

    .main{

        & .main__section-logos{
            padding: 5em 7em;
            & .main__section-logos__div1{
                
                & .main__section-logos__div1__desc{
                    text-align: left;
                }
                & .main__section-logos__div1__title{
                    text-align: left;
                    font-size: 4em;
                    margin-bottom: 0.6em;
                }
                & .main__section-logos__div1__images{

                   justify-content: flex-start;
                   & .main__section-logos__div1__images__image:last-child{
                       margin-left: 3em;
                   }
                }
            }
          
        }
        & .main__articles{
            padding: 4em 5em;
        }
    }     
    
    
}

@media screen and (min-device-width: 1400px){

    .main{
        & .main__section-logos{
            display: flex;
            padding-bottom: 0;
            & .main__section-logos__div1{
                margin-top: 5em;
             }
            & .main__section-logos__div2{
               margin-left: 2em;
               display: block;
            }
        }
        & .main__articles{
            display: flex;
            justify-content: space-around;
            & .main__articles__article{
                width: 30%;
                &:last-child{
                    & .main__articles__article__logo{
                        padding: 0;
                        padding-top: 1em;
                        
                    }
                    
                }
            }
        }
    }  
}