body {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/A1NOTfbVXoL._SL1500_.jpg");
    margin: 0;
}

.fa-sticky-note {
    color: gold;
}

.error {
    display: flex;
    justify-content: center;
    margin: 2% 30% 0% 30%;
    border: 2px solid black;
    border-radius: 10px;
    background: rgba(236, 128, 128, 0.747);
    color: rgb(252, 2, 2);
    font-weight: bold;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.register__button, .login__button, .logout__button, .profile__button {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.landing {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 25%;
}

.register, .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register__inputs, .login__inputs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 25%; 
}

.register__buttons, .login__buttons,  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register__button {
    width: 150px;
    height: 75px;
    margin: 10px;
    display: flex;
    background: rgba(137, 236, 128, 0.747);
    color: rgb(26, 88, 2);
}

.login__button {
    width: 150px;
    height: 75px;
    margin: 10px;
    display: flex;
    background: rgba(128, 139, 236, 0.747);
    color: rgb(15, 2, 88);
}

.register__back, .login__back {
    font-size: 30px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.logout__button {
    position: relative;
    display: flex;
    align-self: flex-start;
    background: rgba(236, 128, 128, 0.747);
    color: rgb(252, 2, 2);
}

.profile__button {
    position: relative;
    display: flex;
    align-self: flex-end;
    background: rgba(236, 220, 128, 0.747);
    color: rgb(248, 252, 2);
}

.header {
    background-image: url("https://static1.squarespace.com/static/579fa3912994ca0eff850271/579fa58dff7c505582d5b217/5964a9961e5b6c5f1f44d384/1500028422239/Notes-Image.png?format=1000w");
    background-repeat: no-repeat;
    background-size:100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.header__title {
    opacity: 0.9;
    background-image: url("./gk.png");
    background-size: 140%;
    background-position: center;
    border: 40px solid transparent;
    border-radius: 500px;
    width: 200px;
    height: 100px;
    margin: 10px; 
    font-size: 25px;
    text-align: center;
    font-family: fantasy;
    padding: 10px;
    border-radius: 10px;
}

.column__title, .profile__title {
    font-family: fantasy;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
}

.login__input, .register__input, .header__input {
    border: 2px solid black;
    border-radius: 10px;
    height: 20px;
    width: 200px;
}

.header__button {
    border: 2px solid black;
    border-radius: 10px;
    height: 25px;
    width: 30px;
}

.postits {
    display: flex;
    flex-direction: column;
}

.kanban {
    display:flex;
    justify-content: space-around;
}

.column  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 200px;
    border-radius: 8px;
    padding: 3px 5px;
}

.column__title {
    font-size: 20px;
}

.post {
    background-image: url("https://www.clipartmax.com/png/full/107-1070249_sticky-notes-png-images-free-download-note-png-sticker-post-it-note.png");
    background-size: 140%;
    background-position: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    margin-bottom: 50px;
    font-family: unset;
}

.post textarea {
    background: transparent;
    border: none;
    width: inherit;
    height: inherit;
    resize: none;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile__title {
    display: flex;
    justify-content: center;
    opacity: 0.9;
    background-image: url("./gk.png");
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: center;
}

.profile__body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.profile__formulary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    align-self: flex-end;
    align-content: flex-end;

}

.profile__formulary--title, .profile__picture--title {
    display: flex;
    justify-content: center;
    font-family: fantasy;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
}

.profile__inputs {
    display: flex;
    justify-content: center;
    padding-top: 25%; 
    flex-direction: column;
}

.profile__input {
    border: 2px solid black;
    border-radius: 10px;
    height: 40px;
    width: 400px;
    font-size: 20px;
    margin-bottom: 10px;
}

.profile__button--update, .profile__button--picture {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    height: 75px;
    margin: 10px;
    display: flex;
    background: rgba(236, 220, 128, 0.747);
    color: rgb(248, 252, 2);
}

.profile__pictureSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__picture {
    width: 150px;
    height: 150px;
}

.profile__back{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 50px 0px 50px 0px;
}
