header {
    border-radius: 15px; 
    border: 4px solid rgb(139, 133, 133);
    color: white;
    background-color: #d2e1c8;
    text-align: center;
}

address {
    display: block;
    color: black;
    background-color:#f9c4aa; 
    border: 2px solid rgb(139, 133, 133);
    text-shadow: 1px 0 0 rgb(255,255,255), -1px 0 0 rgb(255,255,255), 0 1px 0 rgb(255,255,255), 0 -1px 0 rgb(255,255,255), 0.5px 0.5px rgb(255,255,255), -0.5px -0.5px 0 rgb(255,255,255), 0.5px -0.5px 0 rgb(255,255,255), -0.5px 0.5px 0 #fff;
}

.address {
    margin: 5px;
}

body{
    background-color: #f7f4e3;
}

section.working {
    display: flex;
    padding: 20px;
    border: solid 2px #f9c4aa;
    background-color: #dbd8c3;
}

h1.nombre {
    background-color: #f9c4aa;
    border: 2px solid rgb(139, 133, 133);
    text-shadow: 2px 0 0 rgb(0, 0, 0), -2px 0 0 rgb(0, 0, 0), 0 2px 0 rgb(0,0,0), 0 -2px 0 rgb(0,0,0), 1px 1px rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0), -1px 1px 0 #fff;
}

html {
    border: 1px solid black;
}

h1.title {
    text-emphasis: bold;

}

@media only screen and (max-width: 600px) {
    .working {
        display: flex;
        flex-direction: column;
    }
}