
body {
    background: url('cool-background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#root {
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
}

form {
    text-align: center;
    display: flex;


}

.form-control {
    height: 40px;
}

.btn-primary {
    width: 100px

}

.container {
    text-align: center;
}

.list-group {
    display: flex;
    flex-direction: row

}


.list-group-item-warning {
    margin-top: 10px;
    flex: 0 0 80%
}

.btn-info{
    flex: 1;
    height: 50px;
    align-self: flex-end;
 
}