.header
    background-color: skyblue
    display: grid
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr 1fr 
    grid-template-areas: "login login login login login login" 
    "logo button nav nav nav nav" "image-monkey image-monkey image-letters image-letters " "image-monkey image-monkey "
    &__button
        grid-area: button
        border-radius: 15px
        background-color: black
        &--main
            background-color: red
            
    &__nav
        grid-area: nav
        border-radius: 15px
        background-color: silver
        border: 2px solid silver
    &__login
        grid-area: login
        color: white
        font-weight: bold
    &__image--logo
        grid-area: logo


.nav__element
    grid-area: image
    border-right: 2px solid white
    font-weight: bold



