$color-danger: #c3352e
$color-primary: #2ebcc3
$color-background: #121212
$color-text: #ffffff
$color-cloud: #23CCDD
$header-height: 60px

%button
    padding: .5rem 1rem
    background-color: transparent
    border: none
    color: $color-text
    font-size: 16px
    font-weight: 700
    text-transform: uppercase
    cursor: pointer
    &:focus
        outline: 0

%dropdown
    position: absolute
    display: none
    z-index: 1000

body
    margin: 0
    font-family: Roboto, Arial, sans-serif
    color: $color-text

    .landing
        margin: 0
        width: 100vw
        height: 100vh
        background-color: $color-background
        overflow-y: scroll

        &__items
            display: flex
            justify-content: space-between
            padding-top: -10%
            background-color: lighten($color-background, 7%)
            height: 60px

        &__left
            display: flex
            flex-direction: row
            align-items: center
            margin-left: 50px

        &__logo
            max-width: 50px
            max-height: 50px
            margin-right: 5px 

        &__right
            display: flex
            justify-content: space-between
            flex-direction: row
            align-items: center
            list-style-type: none
            font-size: 20px
            margin-right: 310px

        &__button
            @extend %button
            text-decoration: none
            color: $color-text
            &--separator
                font-size: 16px
                color: $color-cloud

    h4
        font-size: 14px
        margin: 0px    

    .container
        display: flex
        justify-content: flex-start
        flex-direction: row
        align-items: center
       
    .signup
        
        &__formulary
            display: block
            background-color: lighten($color-background, 20%)
            width: 250px
            height: 500px
            margin: 30px auto
            padding: 20px 30px
            border-radius: 10px
            text-align: left
            margin-right: 250px
            
        &__input
            width: 92.5%
            height: 30px
            border: 1px solid blue
            border-radius: 5px
            padding-left: 5px
            margin: 10px 0 20px 0
            border: none

        &__button
            @extend %button
            background-color: $color-cloud
            width: 95%
            border-radius: 5px
            text-transform: capitalize

    .logIn
        background-color: $color-background
        color: $color-text
        
    .home
        position: relative
        display: grid
        grid-template-columns: 240px calc(100vw - 560px) 320px
        grid-template-rows: $header-height calc(100vh - #{$header-height})
        background-color: $color-background
        overflow: hidden

        .sidenav
            grid-row: 1/3
            grid-column: 1
            background-color: lighten($color-background, 4%)
            overflow: hidden

            &-head
                display: flex
                flex-wrap: wrap
                align-items: center
                justify-content: center
                height: $header-height
                background-color: lighten($color-background, 7%)

                &__logo
                    max-width: 50px
                    max-height: 50px
                    margin-right: 5px  
         
            &__lists
                height: calc(100vh - #{$header-height})
                display: flex
                flex-direction: column
                overflow-y: scroll

            &__menu
                margin: 0
                padding: 0
                list-style-type: none

            &__title
                margin: 1rem 0 .5rem 1rem
                font-size: 16px
                font-weight: 700
                text-transform: uppercase
                color: #ccc

            &__item
                height: 24px
                padding: .5rem 0 .5rem 3rem
                line-height: 24px

                &:hover
                    background-color: lighten($color-background, 21%)
                    cursor: pointer

        .search
            grid-row: 1
            grid-column: 2
            display: flex
            align-items: center
            justify-content: center
            background-color: lighten($color-background, 7%)

            &__input
                width: 80%
                height: 30px
                border: 1px solid #999999
                border-radius: 10px
                margin: 15px 20px
                padding: 10px   
                background-color: darken($color-background, 15%)
                font-family: Roboto, Arial, sans-serif
                font-size: 18px
                color: $color-text
                outline: 0

            &__button
                width: 60px
                height: 30px
                margin-left: -60px
                border: 1px solid #999999
                border-radius: 10px
                background-color: #999999
                outline: 0
            
        .profile
            grid-row: 1
            grid-column: 3
            display: flex
            justify-content: flex-end
            background-color: lighten($color-background, 7%)

            &__button
                @extend %button
                margin: .5rem 1rem

            &__content
                @extend %dropdown
                top: calc(#{$header-height} - 1rem)
                right: 1rem
                background-color: lighten($color-background, 22%)
                &--open
                    display: block

            &__info
                display: grid
                grid-template-columns: 100px 180px
                height: 100px
                margin: 1rem

            &__image
                height: inherit

                img
                    height: inherit
                
            &__text
                display: flex
                flex-direction: column
                justify-content: flex-start
                margin: 1rem 0 0 1rem
                font-size: 14px

                h1, p, a
                    margin: 0 0 .25rem

                a
                    text-decoration: none
                    color: $color-primary
                    &:hover
                        text-decoration: underline

            &-footer
                display: flex
                justify-content: flex-end
                background-color: lighten($color-background, 7%)
                padding: .5rem

                &__button
                    @extend %button

        .main
            grid-column: 2/4
            grid-row: 2

            .videolist
                margin: 0 3rem
                .videolist__videos
                    display: flex
                    flex-wrap: wrap
                    justify-content: flex-start
                    
                .video
                    display: block
                    width: 213px
                    padding: 2px
                    margin-bottom: 18px

                    &__image
                        height: 120px
                        margin-right: 0

                    &__title
                        margin: 0
                        font-size: 14px

            .player
                width: 576px
                margin: 1rem auto 0

                &__video iframe
                    width: 100%
                    height: 324px

                &-footer
                    display: flex
                    justify-content: flex-end
                    padding: .5rem

                    &__button
                        @extend %button

                    .playlists
                        position: relative

                        &__title
                            margin: 0
                            padding: .75rem 1.5rem
                            font-size: 16px
                            font-weight: 600
                            border-bottom: 1px solid #666

                        &__content
                            @extend %dropdown
                            width: 240px
                            background-color: lighten($color-background, 7%)
                            font-size: 14px
                            overflow: hidden
                            &--open
                                display: block

                        &__menu
                            position: relative
                            max-height: 126px
                            margin: 0
                            padding: 0
                            list-style-type: none
                            overflow-y: scroll

                        &__item
                            position: relative
                            display: block
                            padding: 10px 0 10px 3rem
                            cursor: pointer

                            input
                                display: none
                                &:checked ~ .checkmark
                                    background-color: $color-primary
                                    border-color: $color-primary
                                    &:after
                                        display: block

                            .checkmark
                                position: absolute
                                top: 8px
                                left: .75rem
                                height: 18px
                                width: 18px
                                border-radius: 5px
                                border: 2px solid $color-text
                                &:after
                                    content: ""
                                    position: absolute
                                    display: none
                                    left: 6px
                                    top: 2px
                                    width: 5px
                                    height: 10px
                                    border: solid $color-text
                                    border-width: 0 3px 3px 0
                                    -webkit-transform: rotate(45deg)
                                    -ms-transform: rotate(45deg)
                                    transform: rotate(45deg)

                        &__input
                            width: 100%
                            padding: .75rem 1.5rem
                            background-color: lighten($color-background, 7%)
                            border: none
                            border-top: 1px solid #666
                            font-size: 14px
                            color: $color-text
                            &::placeholder
                                color: $color-text
                            &:focus
                                outline: 0
                                &::placeholder
                                    opacity: 0

            .playlist
                &-header
                    background-color: lighten($color-background, 3%)
                    padding: 1.5rem 3rem
                    &__title
                        margin: 0
                        margin-bottom: .5rem
                        font-size: 30px
                    &__text
                        margin: 0
                        font-size: 14px

            .video
                display: flex
                padding: 1rem

                &__image
                    height: 120px
                    margin-right: 1rem

                &__title
                    margin: 0
                    font-size: 20px

.video-list
    display: flex
    margin: 1%
    width: 90%
    flex-wrap: wrap

.video-item
    width: 350px
    margin: 3%
