html {
  margin: 0;
  height: 100vh; }

body {
  margin: 0;
  font-size: 1.3em; }

h2 {
  margin: 0.3em 0 0.2em 0; }

.comun {
  margin: 0 auto;
  width: 50%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .comun .l-texto {
    width: 80%; }
    .comun .l-texto .texto {
      line-height: 1.3em;
      text-align: justify; }
