/*cd Desktop\CMDER\bootcamp\collab\skylab-bootcamp-201809\staff\pep-delbano\mailchimp
 * sass --watch main.sass:main.css */
/*Variables */
* {
  margin: 0 auto;
  font-family: Arial; }

.blue--margins {
  margin-right: 20%;
  margin-left: 20%; }

.log-in {
  display: flex;
  color: white;
  justify-content: flex-end;
  margin: 5px 10px 5px 5px; }

.upperHeader {
  display: flex;
  justify-content: space-between;
  margin: 5px 15% 10px 10%;
  height: 40px; }
  .upperHeader .nav--btn {
    color: white;
    background: #564a3e;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 -25px 0 #403a32; }
  .upperHeader .navBar {
    border-radius: 7px;
    background-color: #cfedf5; }
    .upperHeader .navBar ul {
      display: flex;
      flex-direction: row;
      height: 40px;
      align-content: center; }
    .upperHeader .navBar li {
      list-style-type: none;
      padding: 3px 15px;
      border-right: 1px solid #403a32; }
    .upperHeader .navBar li:last-child {
      border-right: none; }
    .upperHeader .navBar a {
      color: #564a3e;
      font-weight: 700;
      text-decoration: none;
      font-size: 10px;
      align-content: center;
      display: block; }
    .upperHeader .navBar .input--search {
      display: inline-block;
      width: 35%;
      position: relative; }
      .upperHeader .navBar .input--search .glyphicon-search {
        position: absolute;
        z-index: 10;
        border: none;
        background: transparent; }

.underHeader {
  display: flex;
  flex-direction: row;
  align-content: space-between; }
  .underHeader .mainPictureMonkey {
    width: 45%; }
  .underHeader .right {
    flex-direction: column;
    width: 45%;
    margin-top: 40px;
    align-content: space-between; }
  .underHeader p {
    margin-top: 14px;
    color: #403a32; }
  .underHeader .btn__red {
    color: white;
    width: 60%;
    background: #e26b4c;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 -25px 0 #eb5d47; }

.background--color__blue {
  background-color: #44bdd2;
  display: block;
  width: 100%; }

.background--color__silver {
  display: block;
  background-color: #cdcfcf;
  position: relative;
  width: 100%;
  padding: 15px; }

.btn__red {
  background-color: #ea4d41;
  padding: 10px;
  margin: 20px auto; }

.window {
  background-color: #f0f0f0;
  display: flex;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: -2%; }
  .window .window--header {
    font-size: 40px;
    margin: 5px;
    display: inline-block; }
  .window .window--columns {
    display: flex; }
  .window .window--sections {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 5px;
    width: 22%;
    color: #403a32; }
  .window .window--img {
    width: 100%; }
  .window h3 {
    font-size: 12px;
    font-weight: 700; }
  .window h2 {
    font-size: 20px;
    font-weight: 700; }
  .window p {
    font-size: 14px; }
  .window a {
    background-color: #403a32;
    font-size: 14px;
    width: 100%;
    color: white;
    align-self: flex-end; }

.background-color__black {
  background-color: #1d1a1a;
  width: 100%;
  padding: 15px; }
  .background-color__black .black--margins {
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .background-color__black .black--list {
    list-style-type: none;
    text-decoration: none;
    color: #564a3e; }
    .background-color__black .black--list h4 {
      color: white; }
    .background-color__black .black--list a {
      color: gray; }

/*# sourceMappingURL=main.css.map */
