html,body{
    height: 100vh;
    font-family: Arial;
}

body{
    margin:0;
}
p{
    margin:0;
}

*{
    box-sizing: border-box;
    overflow: hidden;
}

ul{
    margin:0;
    padding:0;
}

img{
    width: 100%;
    height: auto;
}