.bottom{
    background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top, rgba(125,126,125,0.9) 0%, rgba(14,14,14,0.9) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(125,126,125,0.9) 0%,rgba(14,14,14,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(125,126,125,0.9) 0%,rgba(14,14,14,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
    transform: rotateX(90deg) translateZ(-300px);
    & .rotateX-180{
        padding: 1em;
        transform: rotateX(180deg);
        position: absolute;
        bottom:0;
        left: 0;
       
    }
    & .custom-form{

        & h3{
            margin-top:1em;
        }
    }
}
