

.little--cube {
    -webkit-transform-style: preserve-3d;
    -webkit-animation: spin 8s infinite linear;
    position: relative;
    width: 100px;
    height: 100px;
    // top: 50%;
    left: 23px;
    margin-left: -50px;
    margin-top: -50px;
    &  div {
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        box-shadow: inset 0px 0px 0px 1px #E0A800;
        background: rgb(76,76,76); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(76,76,76,0.7) 0%, rgba(89,89,89,0.7) 12%, rgba(102,102,102,0.7) 25%, rgba(255,207,63,0.7) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(76,76,76,0.7) 0%,rgba(89,89,89,0.7) 12%,rgba(102,102,102,0.7) 25%,rgba(255,207,63,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(76,76,76,0.7) 0%,rgba(89,89,89,0.7) 12%,rgba(102,102,102,0.7) 25%,rgba(255,207,63,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#ffcf3f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        display: block;
        position: absolute;
    }
}



.little--top {
    -webkit-transform: rotateX(-90deg); 
    margin-top: -50px;
    }


.little--right {
    -webkit-transform: rotateY(-90deg); 
    margin-left: 50px;
}

.little--bottom {
    -webkit-transform: rotateX(90deg); 
    margin-top: 50px;
}

.little--left {
    -webkit-transform: rotateY(90deg); 
    margin-left: -50px;
}

.little--front {
    -webkit-transform: translateZ(-50px);
}

.little--back {
    -webkit-transform: translateZ(50px) rotateX(180deg);
}

@-webkit-keyframes spin {
    0% {-webkit-transform: rotateX(-20deg) rotateY(-20deg);}
    100% {-webkit-transform: rotateX(-20deg) rotateY(-740deg);}
  }