@import url('https://fonts.googleapis.com/css?family=PT+Sans')
//variables with sass $primary-color: #333;
//mixins similar to variables 
// inheritance with extend %message-shared {...}
//

//inheritance

%flex-shared  
    display: flex
    margin: 2% 5%
     
%header-button
    border-radius: 10%
    border: none
    height: 50px
    text-shadow: 1px 1px 5px black
    
body  
    font-family: 'PT Sans'

// header section    
header
    background-color: #45BDD4
   

// upperheader
.upperheader
    display: flex
    margin: 0% 5%

.upperheader__mailchimp
    @extend %flex-shared 
    flex: 20%
    justify-content: space-between
    margin-top: 7%
    

.upperheader__button
    @extend %header-button
    background-color: #50514B
    color: #DDDDDF
    width: 120px
    font-size: 12px
    background-image: linear-gradient(#50514B, #3F3F37)


.upperheader__nav-container
    flex: 80%

.upperheader__p
    display: block
    text-align: right
    margin-right: 5%
    margin-top: 4%
    margin-bottom: 1%
    color: white

.upperheader__nav__ulist
    @extend %flex-shared 
    background-color: #CFEEF4
    list-style-type: none
    justify-content: space-around
    align-items: center
    border-right: #C3DEE3 1px solid
    margin-top: 2.5% 
    border-radius: 2%
    border: none
    height: 50px
    text-shadow: 2px 2px 5px white


//lower header
.lowerheader
    display: flex
    margin: 0 5%

.lowerheader__monkey
    flex: 40%
    margin: 0

.lowerheader__text
    flex: 60%
    color: #11758C
    margin-right: 5%

.lowerheader__button
    @extend %header-button
    background-color: #EA5C41
    color: #F7F0E4
    width: 200px
    font-size: 16px
    
