@import url("https://fonts.googleapis.com/css?family=PT+Sans");
.upperheader__mailchimp, .upperheader__nav__ulist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0% 5%;
}

.upperheader__button, .lowerheader__button {
  border-radius: 10%;
  border: none;
  height: 50px;
  text-shadow: 1px 1px 5px black;
}

body {
  font-family: 'PT Sans';
  background-color: black;
}

.container-all {
  margin: 0 10%;
}

header {
  background-color: #45BDD4;
}

.upperheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0% 3% 1% 3%;
}

.upperheader__mailchimp {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6%;
}

.upperheader__button {
  background-color: #50514B;
  color: #DDDDDF;
  width: 120px;
  font-size: 12px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#50514B), to(#3F3F37));
  background-image: linear-gradient(#50514B, #3F3F37);
}

.upperheader__nav-container {
  -webkit-box-flex: 80%;
      -ms-flex: 80%;
          flex: 80%;
}

.upperheader__p {
  display: block;
  text-align: right;
  margin-right: 5%;
  margin-top: 4%;
  margin-bottom: 1%;
  color: white;
}

.upperheader__nav__ulist {
  background-color: #CFEEF4;
  list-style-type: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: #C3DEE3 1px solid;
  margin-top: 2.5%;
  border-radius: 2%;
  border: none;
  height: 50px;
  text-shadow: 2px 2px 5px white;
}

.upperheader__input::after {
  content: url(mailchimp/images/search.png);
}

.lowerheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5%;
}

.lowerheader__monkey {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  margin: 0;
}

.lowerheader__text {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  color: #11758C;
  margin-right: 5%;
}

.lowerheader__button {
  background-color: #EA5C41;
  color: #F7F0E4;
  width: 200px;
  font-size: 16px;
}

main {
  background-image: url("mailchimp/images/noisepattern.png");
}

.container-main {
  margin: 0% 5%;
  background-color: #F0F0F0;
  position: relative;
  bottom: 50px;
  height: 150%;
}

.main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0% 3%;
  height: 500px;
}

.main-section__heading {
  margin: 0% 3% 2% 3%;
}

.main-section__button {
  background-color: #3E3E36;
  display: block;
  width: 100%;
  height: 30px;
  color: white;
}

.main-section__news {
  width: 22%;
}

.main-section__p {
  font-size: 12px;
}

footer {
  background-color: #191814;
  color: #706F6B;
  position: relative;
  bottom: 170px;
  width: 100%;
  height: 150%;
}

.upper-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10% 3%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.lower-footer {
  text-align: center;
  height: 200px;
}
/*# sourceMappingURL=styles.css.map */