.post {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: -25px;
}

.deleteButton {
    width: 101px;
    height: 25px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: red;
    margin-bottom: 10px;
}