.panel {
  margin-bottom: 3em; }
  .panel .panel__form-search {
    width: 20%; }
    .panel .panel__form-search .panel__form-search__groupfield {
      margin-bottom: 1em; }
      .panel .panel__form-search .panel__form-search__groupfield label {
        color: black;
        font-size: 0.8em;
        display: block;
        margin-bottom: 0.5em;
        font-weight: bolder; }
      .panel .panel__form-search .panel__form-search__groupfield input {
        display: block;
        width: 100%;
        padding: 0.8em 1em;
        border-radius: 4px;
        border-color: rgba(0, 0, 0, 0.2);
        border-width: 1px; }
      .panel .panel__form-search .panel__form-search__groupfield textarea {
        width: 100%;
        border-radius: 4px;
        padding: 1em 1em;
        border-color: rgba(0, 0, 0, 0.2);
        border-width: 1px;
        font-family: arial; }
    .panel .panel__form-search button {
      text-decoration: none;
      display: inline-block;
      padding: 0.5em 0.5em;
      color: black;
      border-radius: 4px;
      border: 1px solid black;
      font-size: 0.9em;
      background-color: white;
      border-color: rgba(0, 0, 0, 0.2);
      border-width: 1px; }
      .panel .panel__form-search button:hover {
        background-color: black;
        color: white;
        border-color: white;
        cursor: pointer; }
      .panel .panel__form-search button:last-of-type {
        margin-left: 2em; }
