.button-signup{
    display: inline-block;
    padding: 5px 10px;
    background-color: black;
    color:white;
    text-decoration: none;
    border-radius: 5px;
    height: 35px;
    font-size: 0.6em;
    height: 35px;
    line-height: 25px;
    width: 8em;
    text-align: center;
}

.button-signup--free{
    background-color: red;
    width: 15em;
}