html {
  margin: 0;
  height: 100vh; }

body {
  margin: 0;
  height: 100vh; }

.l-nav h1 {
  text-align: center;
  font-size: 4em;
  margin-bottom: 0; }
.l-nav p:first-of-type {
  text-transform: uppercase;
  color: white;
  text-align: center;
  margin-top: 3px;
  word-spacing: 10px; }
.l-nav .l-menu ul {
  padding: 0;
  text-align: center; }
  .l-nav .l-menu ul li {
    display: inline-block;
    width: 7em;
    height: 2em;
    border-radius: 8px;
    background-color: #F6FFC5;
    margin-left: 6px;
    border: 2px solid #9CCD8D; }
    .l-nav .l-menu ul li:first-child {
      margin-left: 0; }
    .l-nav .l-menu ul li a {
      display: block;
      text-decoration: none;
      color: black;
      font-weight: bold;
      text-align: center;
      line-height: 29px; }

.wrapper {
  margin: 0 auto;
  width: 1024px;
  min-height: 80%;
  background-color: #99DEF2;
  padding: 0 3em;
  overflow: hidden;
  -webkit-box-shadow: 15px 10px 50px black;
          box-shadow: 15px 10px 50px black; }

.l-main-section {
  background-color: white;
  padding: 2em;
  border: 3px solid #0386AD;
  border-radius: 20px;
  height: 420px; }
  .l-main-section .l-article .l-img {
    float: left;
    margin-right: 1em;
    display: inline-block;
    height: 200px; }
    .l-main-section .l-article .l-img img {
      width: 100%;
      height: 100%; }
  .l-main-section .l-article p {
    text-align: justify; }
