.header{
    padding: 1em;
    border: 1px solid white;
    border-radius: 5px;
    position: relative;
    & .header__logo{
        & img{
            width: 30%;
        }
        
    }
    & .header__audio{
        display: block;
        position: absolute;
        top: 12px;
        right: 18px;
    }
}