<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Precurs Skylab</title>

        <!-- JavaScript -->
        <script type="text/javascript" src="src://main/js/main.js"></script>
        <script type="text/javascript" src="src://common/js/shared.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" href="node://bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="src://common/css/style.css">
    </head>
    <body onload="loadBody('home')">
        <div id="sidenav_wrapper">
            <script type="text/javascript">loadElement('sidenav');</script>
        </div>
        <div class="col">
            <div id="content_renderer"></div>
        </div>
    </body>
</html>
