@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,800");
body {
  background-color: #cccccc;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
}

p, .main-content .p--main-content, main .news-content .news-content__flex-container .p__main {
  font-family: "Open Sans";
  font-weight: 400;
}

header {
  background-color: #47bdd5;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header-container__login {
  width: 94%;
}

.header__login {
  height: 20px;
  font-family: "Open Sans";
  font-weight: 800;
  text-decoration: none;
  float: right;
  color: #ffffff;
  font-size: 0.8em;
  margin-top: 20px;
}

.header-container {
  width: 85%;
  margin: auto;
  padding-top: 20px;
}

.header-container__logo {
  height: 47px;
  margin-top: 40px;
  margin-left: 30px;
}

.header-container__button, .main-content .header-container__button--main-content, main .news-content .news-content__flex-container .header-container__button--learn {
  height: 50px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 7px;
  background-color: #222220;
  color: #ffffff;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 0.8em;
  border: none;
  margin-top: 35px;
  margin-left: 50px;
}

.header-container .nav {
  margin-top: 51px;
  padding-left: 15px;
}

.header-container .nav__item, .header-container .nav__item--first {
  display: inline;
  font-family: "Open Sans";
  font-weight: 800;
  font-size: 0.8em;
  background-color: #d1eef4;
  padding: 16px 15px;
  border-right: 1px solid #b9d2d7;
}

.header-container .nav__item--first {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.header-container .nav__item a, .header-container .nav__item--first a {
  text-decoration: none;
  color: #3e3e36;
}

.header-container .nav__search-item-container {
  background-color: #d1eef4;
  padding: 15px 15px;
  height: 20px;
  margin-top: 35px;
  margin-left: -4px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.header-container .nav__search-item-container .nav__search-item {
  width: 150px;
  background-image: url("./images/search.png");
  background-repeat: no-repeat;
  background-position-x: 140px;
  background-position-y: 6px;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: 50px;
}

.main-content__text {
  margin-left: 40px;
  margin-top: 40px;
}

.main-content .p--main-content {
  color: #4c7279;
  font-weight: 600;
  font-size: 0.87em;
}

.main-content .header-container__button--main-content {
  padding-left: 60px;
  padding-right: 60px;
  background-color: #e95c41;
  margin-left: 0;
  margin-top: 0;
}

main {
  background-color: #FFF;
  width: 85%;
  height: 550px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: -50px;
  margin-left: 94px;
  width: 85%;
  z-index: 1000;
  position: relative;
}

main .news-content {
  font-family: Arial Black;
  margin-left: 20px;
  margin-right: 20px;
}

main .news-content .news-content__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .news-content .news-content__flex-container .news-content__flex-container__item {
  width: 210px;
}

main .news-content .news-content__flex-container h3 {
  margin-top: -25px;
}

main .news-content .news-content__flex-container .p__main {
  font-size: 14px;
  margin-top: -10px;
}

main .news-content .news-content__flex-container .header-container__button--learn {
  margin-left: 0px;
  padding-left: 15px;
  padding-right: 120px;
  height: 30px;
  border-radius: 4px;
  font-weight: 400;
  background-image: url("./images/arrows.png");
  background-repeat: no-repeat;
  background-position-x: 180px;
  background-position-y: 10px;
}

footer {
  background-color: #000;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 30px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

footer .footer-container__title-item {
  color: #fff;
  font-family: "Open Sans";
}

footer .footer-container__list {
  list-style: none;
  padding-left: 0px;
  margin-top: -15px;
}

footer .footer-container__list .footer-container__link {
  text-decoration: none;
  color: gray;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 25px;
}

footer .footer__box {
  text-align: center;
}

footer .footer__box .footer__box__copy {
  color: gray;
  font-family: "Open Sans";
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */