
body,html { 
  background: url(../img/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

body {

  padding-top: 50px;
  height: 100%;
  width: 100%;
    
}


.circle-container {
  position: relative;
  /* 1 */
  width: 15em;
  height: 15em;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* 2 */
  box-sizing: content-box;
  /* 3 */
  margin: 5em auto 0;
  border: solid 0px tomato;
}
.circle-container > * {
  /* 4 */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 28px;
  height: 28px;
  margin: -0.5em;
}

#circleContainer {
  text-align: center;
}

.circle-container > :nth-of-type(1) {
  transform: rotate(0deg) translate(7.5em) rotate(0deg);
}
.circle-container > :nth-of-type(2) {
  transform: rotate(13.3333333333deg) translate(7.5em) rotate(-13.3333333333deg);
}
.circle-container > :nth-of-type(3) {
  transform: rotate(26.6666666667deg) translate(7.5em) rotate(-26.6666666667deg);
}
.circle-container > :nth-of-type(4) {
  transform: rotate(40deg) translate(7.5em) rotate(-40deg);
}
.circle-container > :nth-of-type(5) {
  transform: rotate(53.3333333333deg) translate(7.5em) rotate(-53.3333333333deg);
}
.circle-container > :nth-of-type(6) {
  transform: rotate(66.6666666667deg) translate(7.5em) rotate(-66.6666666667deg);
}
.circle-container > :nth-of-type(7) {
  transform: rotate(80deg) translate(7.5em) rotate(-80deg);
}
.circle-container > :nth-of-type(8) {
  transform: rotate(93.3333333333deg) translate(7.5em) rotate(-93.3333333333deg);
}
.circle-container > :nth-of-type(9) {
  transform: rotate(106.6666666667deg) translate(7.5em) rotate(-106.6666666667deg);
}
.circle-container > :nth-of-type(10) {
  transform: rotate(120deg) translate(7.5em) rotate(-120deg);
}
.circle-container > :nth-of-type(11) {
  transform: rotate(133.3333333333deg) translate(7.5em) rotate(-133.3333333333deg);
}
.circle-container > :nth-of-type(12) {
  transform: rotate(146.6666666667deg) translate(7.5em) rotate(-146.6666666667deg);
}
.circle-container > :nth-of-type(13) {
  transform: rotate(160deg) translate(7.5em) rotate(-160deg);
}
.circle-container > :nth-of-type(14) {
  transform: rotate(173.3333333333deg) translate(7.5em) rotate(-173.3333333333deg);
}
.circle-container > :nth-of-type(15) {
  transform: rotate(186.6666666667deg) translate(7.5em) rotate(-186.6666666667deg);
}
.circle-container > :nth-of-type(16) {
  transform: rotate(200deg) translate(7.5em) rotate(-200deg);
}
.circle-container > :nth-of-type(17) {
  transform: rotate(213.3333333333deg) translate(7.5em) rotate(-213.3333333333deg);
}
.circle-container > :nth-of-type(18) {
  transform: rotate(226.6666666667deg) translate(7.5em) rotate(-226.6666666667deg);
}
.circle-container > :nth-of-type(19) {
  transform: rotate(240deg) translate(7.5em) rotate(-240deg);
}
.circle-container > :nth-of-type(20) {
  transform: rotate(253.3333333333deg) translate(7.5em) rotate(-253.3333333333deg);
}
.circle-container > :nth-of-type(21) {
  transform: rotate(266.6666666667deg) translate(7.5em) rotate(-266.6666666667deg);
}
.circle-container > :nth-of-type(22) {
  transform: rotate(280deg) translate(7.5em) rotate(-280deg);
}
.circle-container > :nth-of-type(23) {
  transform: rotate(293.3333333333deg) translate(7.5em) rotate(-293.3333333333deg);
}
.circle-container > :nth-of-type(24) {
  transform: rotate(306.6666666667deg) translate(7.5em) rotate(-306.6666666667deg);
}
.circle-container > :nth-of-type(25) {
  transform: rotate(320deg) translate(7.5em) rotate(-320deg);
}
.circle-container > :nth-of-type(26) {
  transform: rotate(333.3333333333deg) translate(7.5em) rotate(-333.3333333333deg);
}
.circle-container > :nth-of-type(27) {
  transform: rotate(346.6666666667deg) translate(7.5em) rotate(-346.6666666667deg);
}



.item {
    display: block;
    border: 2px solid white;
    border-radius: 70%;
    background-color: transparent;
    color: whitesmoke;
    opacity: 0.75;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
}

 .timer-container {
    
  text-align: center;
  margin-top: -165px;
  margin-bottom: 151px;
    
 } 

.title {
    color: whitesmoke;
    font-size: 44px;
    opacity: 0.75;
    font-family: 'Michroma', sans-serif;
    letter-spacing: 8px;
    text-align: center;
  
}


#countdowntimer {
    color: whitesmoke;
    font-size: 40px;
    opacity: 0.75;
    font-family: 'Michroma', sans-serif;

}





h2 {
    color: whitesmoke;
    opacity: 0.75;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 40px;

}

p {
    color: white;
    opacity: 0.75;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    text-align: center;
    margin: 10px;

}

#divName {
  text-align: center;
}

#dx {
  
  text-align: center;
  margin-top: 15px;
  width: 80%;
  margin: auto;

}

#resultId {
    text-align: center;
    margin-top: 280px;
}

#resultText {
    color: white;
    opacity: 0.75;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;

}

#clasText {
    color: white;
    opacity: 0.75;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin-top: 100px;

}

#ranking {
    text-align: center;
    padding: 0px;
}

#ranking > li {
    color: white;
    opacity: 0.75;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    list-style: none;

}

#rankingFinal{

   text-align: center;
   margin-top: 280px;
}

.btn-primary {
    color: whitesmoke;
    margin-top: 30px;
    margin-right: 13px;
    margin-left: 10px;
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    opacity: 0.75;
    font-family: 'Raleway', sans-serif;
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {

  color: whitesmoke !important;
  margin-top: 30px;
  background-color: transparent !important;
  border: 2px solid whitesmoke !important;
  border-radius: 5px !important;
  opacity: 0.75 !important;

}

#que {
    color: white;
    opacity: 0.75;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    
}


.form {
    
    padding-left: 5px;
    color: whitesmoke;
    margin-top: 30px;
    background-color: transparent;
    border: 2px solid whitesmoke;
    border-radius: 3%;
    opacity: 0.75;
    font-size: 32px;
}

::placeholder {
    color: whitesmoke;
    opacity: 1; /* Firefox */
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: whitesmoke;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: whitesmoke;
}


 @media screen and (max-width: 700px) {

    body, html {
      padding-right: 0px;
    }

  

    .title {

      font-size: 28px;
      letter-spacing: 2px;

  }

  h2 {
    font-size: 25px;
  }


.form-group {

  text-align: center;
}


  .form {
    width: 90%;
  }

   
  } 