header
    background-color: $header__color
    
.header__login
    display: flex
    justify-content: flex-end
    width: 92%
    padding: 10px 0px

.header__section1_div2_nav--menu__option 
    display: inline-block

.header__login
    color: white

.header__section1
    display: flex

.header__section2
    display: flex
    margin-top: 25px

.header__section2__div1
    display: flex
    width: 50%
    margin-left: 100px

.header__section2__div2
    display: flex
    width: 50%

.header__section1__div1
    display: flex
    width: 40%

.header__section1__div2
    display: flex
    width: 60%

.header__section1__mainlogo
    margin-left: 100px

.signup-button
    background-color: $button__color__top
    text-align: center
    line-height: 48px
    padding-left: 20px
    padding-right: 20px
    color: white
    border-radius: 7px
    margin-left: 30px


.header__section1__div2_nav--menu
    padding-left: 0px

.header__section1__div2__nav
    background-color: $nav__color
    border-radius: 7px
    text-align: center
    line-height: 48px
    padding-left: 10px
    padding-right: 10px
    margin-left: 30px

.header__section1_div2_nav--menu__option
    padding: 3px 8px
    border-right: 1px solid grey

.header__section2__button
    background-color: $button__color__bottom
    color: white
    padding: 15px 60px
    border-radius: 7px
    text-align: center
    line-height: 48px
    
    








