header
    background-color: $header__color
    padding-bottom: 25px
    
.header__login
    display: flex
    justify-content: flex-end
    width: 88%
    padding: 10px 0px

.header__login
    color: white

.header__section1
    display: flex

.header__section2
    display: flex
    margin-top: 25px

.header__section2__div1
    display: flex
    width: 50%

.chimp
    padding-left: 100px

.header__section2__div2
    display: flex
    width: 50%

.signup
    display: flex
    width: 40%

.navigation
    display: flex
    width: 60%

.signup__mainlogo
    margin-left: 100px

.paragraph
    width: 500px

.signup__button
    background-color: $button__color__top
    text-align: center
    line-height: 50px
    padding-left: 20px
    padding-right: 20px
    color: white
    border-radius: 7px
    margin-left: 30px


.nav-options
    padding-left: 0px

.navigation__bar
    background-color: $nav__color
    border-radius: 7px
    text-align: center
    line-height: 48px
    padding-left: 10px
    padding-right: 10px
    margin-left: 30px

.option
    padding: 3px 8px
    border-right: 1px solid grey
    display: inline-block

.signup__button2
    background-color: $button__color__bottom
    color: white
    padding: 15px 60px
    border-radius: 7px
    text-align: center
    line-height: 48px


    
    








