.container {
    width: 600px;
    height: 600px;
    margin: 50px auto;
    position: relative;
    perspective: 1161px;
    margin-top: 10em;
    color:white;
    }
    
    #cube {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-style: preserve-3d;
      transition: transform 1s;
      
    }
  
   #cube > section {
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0;
      border: 2px solid black;
    }
    
    #cube .back {
      //background: hsla(0, 100%, 50%, 0.5);
      background: rgba(0,0,0,0.9);
      transform: rotateX(0deg) translateZ(-300px);
    }
    
    #cube .left {
      //background: hsla(60, 100%, 50%, 0.5);
      background: rgba(0,0,0,0.9);
      transform: rotateY(90deg) translateZ(-300px);
    }
    
    #cube .bottom {
     // background: hsla(120, 100%, 50%, 0.5);
     background: rgba(0,0,0,0.9);
      transform: rotateX(90deg) translateZ(-300px);
    }
    
    #cube .front {
     // background: hsla(180, 100%, 50%, 0.5);
     background: rgba(0,0,0,0.9);
      transform: rotateX(0deg) translateZ(300px);
    }
    
    #cube .right {
      //background: hsla(240, 100%, 50%, 0.5);
      background: rgba(0,0,0,0.9);
      transform: rotateY(90deg) translateZ(300px);
    }
    
    #cube .top {
      //background: hsla(300, 100%, 50%, 0.5);
      background: rgba(0,0,0,0.9);
      transform: rotateX(90deg) translateZ(300px);
    }