extends layout
block content
      p Welcome #{name}!
      a(href='/logout') logout
      form(method='POST', action='/postit')
        input(type='text', name='text')
        button(type='submit') Create