container {
    display: grid;
    grid-template-rows: auto 20% 20% 20% 20%;
    grid-template-columns: 1fr;
}



h2 {
    display: grid;
    grid-column: span;
}

header {
    display: grid;   
    grid-template-columns: 60px 1fr;
}

#profile-picture {
    width: 60px;
}

#education{
    display: grid;
    grid-template-rows: auto 1fr;
}

#experience{
}

#skills{
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#studies {
    display: grid;
    grid-auto-flow: column;
}