<div class="section1">
	<div class="l-inf">
		<div>
			<img src="assets/img/img1.jpg">
		</div>
		<div>
			<p>
				BIENVENIDOS AL JUEGO DE PASALABRA DE SKYLAB CODERS ACADEMY!
			</p>
			<p>
				Basado en el existoso concurso de televisión Pasapalabra de Telecinco, las
				normas son muy sencillas:
			</p>
			<p>
				Se mostrarán unas definiciones por pantalla y el usuario deberá 
				responder con la palabra a la que corresponden. El usuario tiene la
				opción de decir Pasapalabra y dejar esa definición para mas adelante.	
			</p>
			<p>
				El programa es sensible a la acentuación, así que se debe introducir la
				palabra sin tilde. Es posible utilizar la tecla ENTER para enviar la palabra y
				el SPACE para hacer pasapalbra.
			</p>
			<div class="play">
				<a routerLink="/game" class="">JUGAR</a>
			</div>
		</div>
	</div>
	<div>
		<div>
			<img src="assets/img/img2.jpg">
		</div>
	</div>
	<div>
		<img src="assets/img/img3.jpg">
	</div>
</div>