body { background-color: #f6f7f8 }

.partyup__information { display: flex; flex-direction: column; align-items: center; background-color: #ffffff; justify-content: space-around; border: 1px solid black; border-radius: 5px }

.information__text { display: flex; flex-direction: column; }

.information__buttons { display: flex; flex-direction: column; align-items: center; }

.buttons__container { display: flex; margin: 2%; padding: 10%; background-color: #ffffff; justify-content: space-around; }

.buttons__assist {  }

.buttons__notassist {  }

.buttons__delete {  }

.partyup__assistants, .partyup__commentaries { display: flex; align-items: center; flex-direction: column; }

.partyup__avatars { width: 50px; height: 50px; border: 2px solid black; border-radius: 50px; cursor: pointer;}

.assistant__list { text-decoration: none; list-style-type: none; display: flex; flex-direction: column; }

.commentaries__list { text-decoration: none; list-style-type: none; display: flex; flex-direction: column; }

.assistant__info { margin: 5% 5% 5% 5%; padding: 5% 5% 5% 5%; font-size: 12px; display: flex; flex-direction: column; align-items: center; background-color: #ffffff; border: 1px solid black; border-radius: 10px;}

.commentaries__formulary { display: flex; align-items: center; flex-direction: column; margin: 1% 1%;}

.formulary__text { font-size: 14px; width: 500px; height: 50px; margin-bottom: 1%; padding: 1% 1% 1% 1%; border: 3px solid black; border-radius: 10px; }

.formulary__button { color: #018007; font-size: 28px; width: 300px; height: 50px ; padding: 1% 1% 1% 1%; border: 3px solid #018007; background-color: #4bf3538a; border-radius: 10px; }

.commentaries__info { background-color: #ffffff; margin: 1% 1%; padding: 1% 1% 1% 1%; display: flex; flex-direction: row; align-items: center; border: 3px solid black; border-radius: 10px; justify-content: space-between}

.commentaries__deleteButton { color: #800101; font-size: 16px; width: 50px; height: 50px; border-radius: 50px; border: 1px solid #800101; background-color: #f35555b6; src: "https://image.flaticon.com/icons/svg/58/58326.svg"; }

@media (min-width: 740px) { 
  .partyup__information { flex-direction: row; }
  .assistant__list { flex-direction: row; }
}