@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(80deg, white 50%, whiteSmoke 50%);
  font-family: 'Roboto', sans-serif;
}

nav {
  width: 100%;
  background-color: transparent;
  line-height: 50px;
  margin-top: 0;
  z-index: 200;
  position: absolute;
  top: 0;
}

nav ul {
  padding: 0 10%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav ul li {
  list-style: none;
  padding: 0 20px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding: 20px 10px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav ul li a:hover {
  color: #01b3e3;
  -webkit-box-shadow: 0px 4px 0px 0px #01b3e3;
          box-shadow: 0px 4px 0px 0px #01b3e3;
}

#search {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#search canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

#search img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

#search input {
  height: 45px;
  width: 450px;
  background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png");
  background-position: 98% 9px;
  background-size: 28px 28px;
  background-repeat: no-repeat;
  font-size: 1.3em;
  padding-left: 20px;
  border-radius: 10px;
  border: 0;
  -webkit-box-shadow: 0px 0px 0px 5px rgba(184, 243, 255, 0.5);
          box-shadow: 0px 0px 0px 5px rgba(184, 243, 255, 0.5);
  outline: none;
  z-index: 10;
}

#search::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(225, 225, 225, 0.1);
  content: '';
  z-index: 1;
}

.main {
  width: calc(100% - 300px);
  padding: 50px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .list-container {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .list-container span {
  color: #666d6f;
  font-size: 1.3em;
  padding: 20px 10px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  text-transform: capitalize;
}

.main .list-container span:hover {
  color: #01b3e3;
  -webkit-box-shadow: -6px 0px 0px 0px #01b3e3;
          box-shadow: -6px 0px 0px 0px #01b3e3;
}

.main .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
}

.main .cards-container .card {
  position: relative;
  background: white;
  width: calc(100% - 50px);
  height: 200px;
  max-height: 200px;
  min-height: 200px;
  margin: 25px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 7px;
  -webkit-box-shadow: 4px 4px 20px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 20px 3px rgba(0, 0, 0, 0.15);
}

.main .cards-container .card::after {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 35px;
  height: 35px;
  content: "";
  background-image: url("https://www.skylabcoders.com/skylab-coders-academy_408.png");
  background-size: 60%;
  background-position: 7px 7px;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 50%;
}

.main .cards-container .card .card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .cards-container .card .card-top img {
  width: 170px;
  height: 100px;
  min-width: 170px;
  min-height: 100px;
  max-width: 170px;
  max-height: 100px;
  border-radius: 7px;
  -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.main .cards-container .card .card-top .card-info {
  padding-left: 20px;
}

.main .cards-container .card .card-top .card-info .title {
  margin: 0;
  font-size: 1.5em;
  text-decoration: none;
  cursor: pointer;
  color: #7d97ad;
}

.main .cards-container .card .card-top .card-info .title:hover {
  color: #01b3e3;
}

.main .cards-container .card .card-top .card-info .subtitle {
  margin: 0;
  margin-top: 10px;
}

.main .cards-container .card .card-top .card-info .short-summary {
  font-size: 14px;
  color: #666d6f;
}

.main .cards-container .card .card-middle {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 15px;
  -webkit-box-shadow: 0 -1px 0 0 rgba(125, 151, 173, 0.3);
          box-shadow: 0 -1px 0 0 rgba(125, 151, 173, 0.3);
  color: #7d97ad;
}

.main .cards-container .card .card-middle .difficulty {
  width: 20px;
  margin-right: 5px;
  margin-bottom: -3px;
}

.main .cards-container .card .card-middle a {
  text-decoration: none;
  color: #34ADFF;
}

.info {
  margin-top: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.info .division {
  background: lavender;
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  margin-top: -100px;
  z-index: -10;
}

.info .header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  width: calc(100% - 300px);
  margin: 0 150px;
  margin-top: 50px;
  -webkit-box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info .header-info .star {
  position: absolute;
  top: 20px;
  right: 180px;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.info .header-info .course-img {
  width: 100%;
  height: 450px;
  max-width: 100%;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
}

.info .header-info .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .bottom-info {
  padding: 0 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .bottom-info .knowledge-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: whiteSmoke;
  padding: 25px;
  margin-bottom: 15px;
  width: 80%;
  border-radius: 15px;
}

.info .bottom-info .knowledge-container .knowledge p {
  text-align: justify;
}

.info .bottom-info .knowledge-container a {
  text-decoration: none;
  color: #01b3e3;
}

.info .bottom-info .instructor-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: whiteSmoke;
  padding: 25px;
  margin-bottom: 15px;
  width: 80%;
  border-radius: 15px;
}

.info .bottom-info .instructor-card .instructor-img-container {
  width: 100px;
  height: auto;
}

.info .bottom-info .instructor-card .instructor-img-container .instructor-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.5);
}

.info .bottom-info .instructor-card .instructor-info {
  width: calc(100% - 200px);
}

.info .bottom-info .instructor-card .instructor-info p {
  text-align: justify;
}

.login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login-error-container {
  margin: 30px 0;
  padding: 10px;
  border-radius: 3px;
  background-color: whiteSmoke;
}

.login-container .login-error-container .login-error-message {
  color: red;
  padding: 0 40px;
}

.login-container .login-title {
  padding-left: 40px;
  padding-top: 20px;
}

.login-container .login-inputs {
  padding-left: 20px;
  padding-top: 20px;
}

.login-container .goto-register {
  padding-left: 20px;
  padding-top: 20px;
}

.login-container .goto-register a {
  text-decoration: none;
  color: #01b3e3;
}

.login-container .login-form .login-input {
  width: 360px;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}

.login-container .login-form .login-btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  background: #7f8ff4;
  color: #fff;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
  margin-left: -96px;
}

.register-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10%;
}

.register-container .register-error-container {
  margin: 30px 0;
  padding: 10px;
  border-radius: 3px;
  background-color: whiteSmoke;
}

.register-container .register-error-container .register-error-message {
  color: red;
  padding: 0 40px;
}

.register-container .register-title {
  padding-left: 40px;
  padding-top: 20px;
}

.register-container .register-inputs {
  padding-left: 20px;
  padding-top: 20px;
}

.register-container .goto-login {
  padding-left: 20px;
  padding-top: 20px;
}

.register-container .goto-login a {
  text-decoration: none;
  color: #01b3e3;
}

.register-container .register-form .register-input {
  width: 40%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}

.register-container .register-form .register-btn {
  position: absolute;
  display: inline-block;
  background: transparent;
  font: inherit;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: #7f8ff4;
  color: #fff;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
  margin-top: -22px;
  margin-left: -96px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.popup .popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  border-radius: 10px;
}

.popup .popup_inner h1 {
  padding-top: 40px;
  text-align: center;
}

.popup .popup_inner .close-btn {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: 94%;
  top: 4%;
}

.popup .popup_inner .popuplogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.popup .popup_inner .popuplogin .popup-btn {
  background: transparent;
  font: inherit;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: #7f8ff4;
  color: #fff;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-top: 40px;
  max-width: 170px;
  min-width: 170px;
  max-height: 90px;
  min-height: 90px;
  font-size: 1.5em;
  border-radius: 10px;
}

.mouse {
  cursor: pointer;
}

.new {
  color: turquoise;
  text-transform: uppercase;
  padding-left: 10px;
}

.scare {
  height: 100vh;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=App.css.map */